.topic{
    font-family:verdana;
    font-family:arial;
    color:rgb(192, 65, 181);
    font-size:40px;
}
.nr{
    font-family:verdana;
    font-family:arial;
    color:rgb(159, 107, 155);
    font-size:20px;
}
.webct{
    text-align: center;
}